<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New User</title>
  </head>
  <body>
    <form class="new_user" action="/newuser" method="post" id="user_name" /><br><br>
      <input placeholder="Choose a username" type="text" name="user_name" /><br><br>
      {{#each games}}
        <div >
          <label for="{{this.id}}">{{this.game_name}}</label>
          <input type="checkbox" name="gameIds" value="{{this.id}}" id="{{this.id}}" />
        </div>
      {{/each}}
      <br><br><input type="submit" value="Submit">
    </form><br><br>

    <div >
      <a href='/'>Cancel</a>
    </div>
  </body>
</html>
